* {
    color: black;
    text-align: center;
}

header {
    background-color: lightsalmon;
}

div {
    background-color: lightgoldenrodyellow;
}

h2 {
    background-color: lightsalmon;
}

h3 {
    background-color: lightsalmon;
}