* {
    color: black;
    text-align: center;
}

header {
    background-color: lightsalmon;
}

div {
    background-color: lightgoldenrodyellow;

}

h2 {
    background-color: lightsalmon;
    padding: 20px;
}

img {
    border-radius: 10%;
    height: auto;
    width: 400px;
}

img:hover {
    transform: scaleX(-1);
  }

h3 {
    background-color: lightsalmon;
    padding: 20px;
}